* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homepage__text {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.myriad-pro-condensed {
    font-family: "myriad-pro-condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.proxima-nova-sc-osf-condensed {
    font-family: "proxima-nova-sc-osf-condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.proxima-nova-condensed {
    font-family: "proxima-nova-condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.roboto {
    font-family: 'roboto', sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.ballGif {
    /*display: none;*/
    margin-top: 15vh;
}

.ballGif--img {
    /*width: calc(100% - 5vw);*/
    margin: auto;
    width: calc(220px + 10vw);
}

.progress {
    margin-top: 40vh;
    /*margin-left: 20vw;*/
    position: fixed;
}

.nav {
    z-index: 1000001;
    user-select: none;
    visibility: inherit;
    opacity: 1;
}

.nav--left {
    left: 6vw;
}

.nav--transform {
    z-index: 1000001;
    position: absolute;
    -webkit-transform: rotateZ(-90deg) translateX(-50%);
    transform: rotateZ(-90deg) translateX(-50%);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    top: 50%;
}

.nav--right {
    right: 6vw;
}

.nav--transformRight {
    z-index: 1000001;
    position: absolute;
    -webkit-transform: rotateZ(90deg) translateX(50%);
    transform: rotateZ(90deg) translateX(50%);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    top: 50%;
}

.nav__about-wrapper, .nav__mail-wrapper, .nav__works-wrapper {
    display: inline-block;
    padding: 10px;
}

.nav__about, .nav__mail, .nav__works {
    color: #333;
    opacity: .5;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.nav__about:hover, .nav__mail:hover, .nav__works:hover {
    opacity: 1;
}

.nav a {
    text-decoration: none!important;
    color: #333;
}

.nav__links {
    letter-spacing: 1.78px;
    font-size: 20px;
}

h3, p {
    text-rendering: geometricPrecision;
}

.fluid-type14-26 {
    font-size: 14px;
}

.fluid-type30-55 {
    font-size: 29.6px;
}

.fluid-type10-20 {
    font-size: 10px;
    color: #A2A2A2;
}

@media screen and (min-width: 320px) {
    .fluid-type14-26 {
        font-size: calc( 14px + (26 - 14) * ( (100vw - 320px) / ( 1440 - 320)));
    }
    .fluid-type30-55 {
        font-size: calc( 29.6px + (55 - 29.6) * ( (100vw - 320px) / ( 1440 - 320)));
    }
    .fluid-type12-22 {
        font-size: calc( 10px + (20 - 10) * ( (100vw - 320px) / ( 1440 - 320)));
    }
}


/*@media screen and (max-width: 1020px) {
    #ball {
        display: none;
    }
    #ball--fallBack {
        display: block;
    }
    #homepage--background {
        background-color: #f8f8f8;
    }
}

@media screen and (min-width: 1020px) {
    #ball {
        display: block;
    }
    #ball--fallBack {
        display: none;
    }
    #homepage--background {
        background-color: none;
    }
}*/

@media screen and (min-width: 1440px) {
    .fluid-type14-26 {
        font-size: 26px;
    }
    .fluid-type30-55 {
        font-size: 55px;
    }
    .fluid-type10-20 {
        font-size: 20px;
    }
}
